@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* .header-bg-color{
    background-color: #050F25;
    height: 100%;
}*/

* {
    margin: 0;
    padding: 0;
    background-color: #050F25;
    font-family: 'Inter', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover:before{
    width: 100%;
}