

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 30px;
}

.spacing_bet {
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
}

.btn_group_spacing {
    margin-top: 1%;
    margin-left: 1%;
}

.input_field_spacing {
    margin-bottom: 2.5%;
    margin-top: 1.5%;
}

.title_name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}

.modal-header {
    background-color: green;
    color: white;
}

.btn-close {
    background-color: white;
}

.modal-body {
    font-weight: bold;
}

.form-row .form-group {
    padding: 1,5rem;
    margin-bottom: 10px;
}




/* date picker */


#datepicker {
    width: 80px;
}

#datepicker>span:hover {
    cursor: pointer;
}

.card_header {
    background-color: green;
}

.card_custom_header {
    font-size: 16px;
}

label {
    font-size: 16px;
}

.adding_item_select_spacing {
    margin-bottom: 22%;
}

.btn_to_left {
    margin-left: 5%;
    margin-top: 4%;
}

.btnn-to-space {
    margin: 5%;
}

.total_spacing {
    margin-bottom: 9%;
    padding-left: 5%;
}

/*  */
